/* RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #D9E5F3;
    font-family: 'DM Sans', sans-serif;

}

/* NAVBAR */
.navbar {
    height: 15vh;
    width: 100vw;
    border-radius: 0 0 13px 13px;
    /* border: 0px solid #000; */
    background: #FFF;
    box-shadow: 0px 4px 18px -6px #0057FF;
    display: flex;
    align-items: center;
}

.navbar-logo {
    margin-left: 5%;
    height: 50%;
}


/* BACKGROUND */
.svg-container {
    height: 85vh;
    width: 100%;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}


.vector1 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 2;
}

.vector4 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 1;
}


.vector5 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 0;
}

.spaceship {
    position: absolute;
    bottom: 5vw;
    right: 10vw;
    width: auto;
    height: 10vw;
    z-index: 3;

}

.little-circle {
    position: absolute;
    bottom: 50%;
    right: 20px;
    width: 10%;

}

.big-circle {
    position: absolute;
    bottom: 45%;
    left: -10%;
    width: 20%;
    z-index: 3;

}

/* COMMON */
h3 {
    color: #134077;
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    margin-top: 3rem;
    margin-bottom: .5rem;

}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

form {
    width: 30%;
    background-color: white;
    padding: 20px;
    border-radius: 19px;
    border: 1px solid #134077;
    background: #FFF;
    display: flex;
    flex-direction: column;

}

label {
    font-weight: 700;
    font-size: 0.6rem;
    padding: 6px 0 2px;

}

input:focus {
    outline: none;

}

input {
    width: 100%;
    margin: 12px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid black;
    font-size: 1rem;
    padding: 2px 0;

}

input::placeholder {
    color: #CCC;
}

button {
    width: 100%;
    padding: 10px;
    border-radius: 11px;
    border: none;
    background-color: #0057FF;
    color: white;
    text-transform: uppercase;
    margin: 5% 0;
    cursor: pointer;
}

a {
    text-align: center;
    align-self: center;
    font-size: 0.6rem;
}

.bold {
    font-weight: 700;
}

.errors {
    color: red;
    font-size: .7rem;
}


/* EVENTI */
.events {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.event {
    border-radius: 19px;
    border: 1px solid #134077;
    background: white;
    padding: 15px 20px;
    display: flex;
    flex-direction: column;
}

.event-title {
    font-size: 1.5rem;
    font-weight: 700;
}

.event-date {
    font-size: .8rem;
    color: #CCC;
    margin: 6px 0;
}